

.todos li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  float: left;
}
.todos li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.todos li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.todos .text {
  position: relative;
  top: -3px;
}

button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
