<div class="todos" *ngFor="let todo of todos">
  <h2>Add New Task:</h2>
  <div class="todo-template">
    <div class="headers">
      <h2>{{todo.Id}}</h2>
      <h2>{{todo.title}}</h2>
      <p>{{todo.description}}</p>
    </div>
    <div class="utils">
      <button (click)="completeToDo(todo)">Complete</button>
      <button (click)="editToDo(todo)">Edit</button>
      <button (click)="deleteToDo(todo)">Delete</button>
    </div> 
  </div>
</div>
<div class="addToDo">
  <h2>Add New Task:</h2>
  <label>Title:</label> <input #title />
  <label>Description:</label> <input #description />
  <button (click)="createToDo(title.value, description.value); title.value=''; description.value=''">
    Add
  </button>
</div>